
<h1>Show List Id: <%= @post.id %></h1>
<div class="container2">
  <ul>
    <li><%= @post.first_name %></li>
    <li><%= @post.last_name %></li>
    <li><%= @post.email %></li>
    <li><%= @post.contact_number%></li>
  </ul>
</div>


